.breadcrumbs {
    display: flex;
    align-items: center;

    &__item {
        color: rgba(#fff, 0.5);
        position: relative;
        z-index: 999;
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: math.div(18, 14);

        @media (max-width:$tablet) {
            font-size: 12px;
        }

        a {
            transition: color $transitionSpeed $transitionFunction;
        }

        svg {
            fill: currentColor;
            width: 10px;
            height: 6px;
            transform: rotate(-90deg);
            margin-left: 11px;

            @media (max-width:$tablet) {
                width: 8px;
                height: 7px;
                margin-left: 6px;
            }
        }

        margin-right: 11px;

        &:last-child {
            margin-right: 0;
            color: var(--white-color);
        }

        &:nth-last-child(2) {
            svg {
                fill: #fff;
            }
        }

        &:hover {
            a {
                color: var(--blue-color);
            }
        }

        @media (max-width:$tablet) {
            margin-right: 6px;
        }
    }
    &--secondary{
        margin-top: 18px;
        .breadcrumbs{
            &__item{
                color: rgba(#3C3C3C,0.5);
                &:last-child {
                    color: #1D80EB;
                }
                &:nth-last-child(2) svg {
                    fill: #1D80EB;
                }
            }
        }
    }
}
