.certificates-story {
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 110px;
    padding-bottom: 75px;

    @media (max-width:$tablet) {
        padding-top: 75px;
    }
}

.certificates {
    &__title {}

    &__inner {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;

        @media (max-width:$tablet) {
            margin-top: 30px;
            grid-gap: 15px;
        }

        @media (max-width:$smallTablet) {
            grid-template-columns: 1fr;
        }
    }

    &__link {
        display: block;

        @media (max-width:$smallTablet) {
            margin: 0 auto;
            max-width: 400px;
        }

        @media (max-width:$mobile) {
            max-width: 320px;
        }
    }

    &__img {
        display: block;
    }

    &__text {
        margin-top: 45px;
        @include adaptiveValue("font-size", 20, 14);
        line-height: math.div(28, 20);

        @media (max-width:$tablet) {
            margin-top: 30px;
        }

        @media (max-width:$smallTablet) {
            text-align: center;
        }
    }
}



.story {
    margin-top: 150px;

    &__title {}

    &__list {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 43px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 31px;
            left: 0;
            width: 100%;
            height: 6px;
            z-index: -1;
            background-color: #fff;
        }

        @media (max-width:$tablet) {
            margin-top: 30px;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 60px;
            row-gap: 40px;

            &::before {
                display: none;
            }
        }

        @media (max-width:$smallTablet) {
            column-gap: 50px;
            row-gap: 30px;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width:$mobile) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        @media (max-width:$mobile) {
            display: flex;
            align-items: center;
        }
    }

    @media (max-width:$tablet) {
        margin-top: 70px;
    }
}

.story-item {
    &--1 {
        .story-item__year {
            background-color: #203E75;
        }
    }

    &--2 {
        .story-item__year {
            background-color: #30569C;
        }
    }

    &--3 {
        .story-item__year {
            background-color: #225DCA;
        }
    }

    &--4 {
        .story-item__year {
            background-color: #3972DC;
        }
    }

    &--5 {
        .story-item__year {
            background-color: #236CF2;
        }
    }

    &--6 {
        .story-item__year {
            background-color: #2568E3;
        }
    }

    &__year {
        width: 76px;
        height: 76px;
        border-radius: 50%;
        background-color: gray;
        display: block;

        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        line-height: 1;
        color: var(--white-color);

        @media (max-width:$tablet) {
            width: 60px;
            height: 60px;
        }

        @media (max-width:$mobile) {
            flex: 0 0 60px;
        }
    }

    &__descr {
        margin-top: 26px;
        @include adaptiveValue("font-size", 16, 12);
        line-height: math.div(18, 16);

        @media (max-width:$smallTablet) {
            margin-top: 10px;
        }

        @media (max-width:$mobile) {
            margin-top: 0;
            margin-left: 15px;
        }
    }
}

.story-item--1 {}
