.our-prices {
    background-color: #12161C;
    padding: 14px 0 15px;
    overflow-x: auto;
    position: relative;
    z-index: 100;
    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        font-size: 16px;
        display: flex;
        align-items: center;
        span {
            margin-left: 5px;
        }

        &:not(:first-child) {
            margin-left: 97px;
        }

        @media (max-width:$desktop) {
            font-size: 14px;

            &:not(:first-child) {
                margin-left: 65px;
            }
        }

        &--up {
            span {
                color: var(--green-color);
            }
        }

        &--down {
            span {
                color: var(--red-color);
            }
        }
    }
    @media (max-width:$md1300) {
        position: relative;
        z-index: 100;
    }
}
