<section class="page-404">
    <div class="page-404__inner">
        <img loading="lazy" src="img/404.svg" width="611" height="322" alt="page-404">
        <div class="page-404__content">
            <p class="page-404__title title-2">
                Упс.. Такой страницы не существует
                </d>
                <p class="page-404__descr">
                    Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на
                    территории Казахстана.
                </p>
                <a href="./index.html" class="page-404__link btn btn-reset btn-secondary">
                    На главную
                </a>
        </div>
    </div>
</section>
