<section class="about-company about-company-simplebar">
    <div class="container">
        <div class="about-company__top">
            <div class="about-company__left">
                <h2 class="about-company__title title-2">
                    О компании
                </h2>
                <div class="about-company__img">
                    <img loading="lazy" src="img/diamonds.png" width="362" height="392" alt="Алмаз">
                </div>
            </div>
            <div class="about-company__right">
                <div class="about-company__text simplebar-primary">
                    <p>
                        Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на территории Казахстана. 
Мы одна из первых компаний являющихся лицензированным консультантом в сфере минеральных ресурсов (лицензия №AFSA-A-LA-2020-0004). Мinerals Operating зарегистрирована в Международном Финансовом Центре «Астана» (МФЦА) и осуществляет деятельность, основанную на нормах и принципах Английского общего права.
МФЦА – это уникальный центр, который использует лучшие практики и подходы международных финансовых центров и сотрудничает с крупными корпорациями и небольшими компаниями, недавно появившимися на рынке. Органы управления МФЦА предлагают предпринимателям возможности для привлечения инвестиций и гарантии для поддержки бизнеса, выгодный налоговый режим и льготы для бизнес-операций.

                    </p>
                    <p>
                        Современное оборудование для разработки месторождений, штат опытных сотрудников, помощь в подготовке проектной документации в соответствии с нормами законодательства – вот то, на что вы можете рассчитывать.
                        Мы работаем в сфере 
                        Оборудование для разработки месторождений, штат опытных сотрудников, помощь в подготовке проектной документации 
                        в соответствии с нормами законодательства – вот то, на что вы можете рассчитывать.
                        Органы управления МФЦА предлагают предпринимателям возможности для привлечения инвестиций и гарантии для поддержки бизнеса, выгодный налоговый режим и льготы для бизнес-операций.
                        Органы управления МФЦА предлагают предпринимателям возможности для привлечения 
                        
                    </p>
                    <p>
                        Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на территории Казахстана. 
Мы одна из первых компаний являющихся лицензированным консультантом в сфере минеральных ресурсов (лицензия №AFSA-A-LA-2020-0004). Мinerals Operating зарегистрирована в Международном Финансовом Центре «Астана» (МФЦА) и осуществляет деятельность, основанную на нормах и принципах Английского общего права.
МФЦА – это уникальный центр, который использует лучшие практики и подходы международных финансовых центров и сотрудничает с крупными корпорациями и небольшими компаниями, недавно появившимися на рынке. Органы управления МФЦА предлагают предпринимателям возможности для привлечения инвестиций и гарантии для поддержки бизнеса, выгодный налоговый режим и льготы для бизнес-операций.

                    </p>
                    <p>
                        Современное оборудование для разработки месторождений, штат опытных сотрудников, помощь в подготовке проектной документации в соответствии с нормами законодательства – вот то, на что вы можете рассчитывать.
                        Мы работаем в сфере 
                        Оборудование для разработки месторождений, штат опытных сотрудников, помощь в подготовке проектной документации 
                        в соответствии с нормами законодательства – вот то, на что вы можете рассчитывать.
                        Органы управления МФЦА предлагают предпринимателям возможности для привлечения инвестиций и гарантии для поддержки бизнеса, выгодный налоговый режим и льготы для бизнес-операций.
                        Органы управления МФЦА предлагают предпринимателям возможности для привлечения 
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
