<section class="about-company">
    <div class="container">
        <div class="about-company__top">
            <div class="about-company__img">
                <img loading="lazy" src="img/diamond.png" width="362" height="392" alt="Алмаз">
            </div>
            <div class="about-company__right">
                <h2 class="about-company__title title-2">
                    О компании
                </h2>
                <div class="about-company__text">
                    <p>
                        Мы хотим создать историю и стать полезными для нашей страны. Именно так мы думали когда основали
                        нашу компанию Minerals Operating. Даже стало интересно что у нас получится, но мы уже сейчас
                        проделали огромную работу, вышли на международный уровень. Каждый из нас работает над своей
                        стезей, основываясь на навыках и опыте в нашей сфере. Не зря говорят, что большая история или
                        идея создаются сидя за чашкой чая, в принципе так же было и у нас. У каждого есть своя история.
                    </p>
                    <p>
                        Самое интересное то, что наша история началась тогда, когда мы даже об этом не знали ведь мы
                        были знакомы давно и никто не думал, что знакомство бывают не напрасными. И в один момент когда
                        у одного родилась идея мы просто послушали, но как говорил И. Гёте «Можно признать идею
                        полезной, но не уметь ею пользоваться». И при каждой очередной встрече мы действительно увидели
                        потенциал и на сколько ресурсным может быть данный проект. Мы поверили в него, в друг друга и
                        самое важное на сколько полезен он может быть для нашей страны. Приятно было осознавать, что
                        ничто не делает человека столь склонным к рискованным предприятиям, как ощущение
                        невесомости действий в нашей голове.
                    </p>
                </div>
            </div>
        </div>
        <ul class="about-company__list list-reset">
            <li class="about-company__item about-company-item">
                <a href="#" class="about-company-item__img">
                    <img loading="lazy" src="img/about-company-item-1.jpg" width="503" height="418" alt="Ким Александр">
                </a>
                <a href="#" class="about-company-item__name">
                    Ким Александр
                </a>
                <p class="about-company-item__descr">
                    Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на...
                </p>
            </li>
            <li class="about-company__item about-company-item">
                <a href="#" class="about-company-item__img">
                    <img loading="lazy" src="img/about-company-item-2.jpg" width="503" height="418" alt="Ким Александр">
                </a>
                <a href="#" class="about-company-item__name">
                    Ким Александр
                </a>
                <p class="about-company-item__descr">
                    Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на...
                </p>
            </li>
            <li class="about-company__item about-company-item">
                <a href="#" class="about-company-item__img">
                    <img loading="lazy" src="img/about-company-item-3.jpg" width="503" height="418" alt="Ким Александр">
                </a>
                <a href="#" class="about-company-item__name">
                    Ким Александр
                </a>
                <p class="about-company-item__descr">
                    Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на...
                </p>
            </li>
        </ul>
    </div>
</section>
