<section class="certificates-story" style="background-image: url(img/certificates-bg.png);">
    <div class="certificates">
        <div class="container">
            <h2 class="certificates__title title-2 tac">
                Сертификаты компании
            </h2>
            <div class="certificates__inner" id="certificates-gallery">
                <a class="certificates__link" href="img/certificates-1.jpg">
                    <img src="img/certificates-1.jpg" class="certificates__img" alt="img">
                </a>
                <a class="certificates__link" href="img/certificates-2.jpg">
                    <img src="img/certificates-2.jpg" class="certificates__img" alt="img">
                </a>
                <a class="certificates__link" href="img/certificates-3.jpg">
                    <img src="img/certificates-3.jpg" class="certificates__img" alt="img">
                </a>
            </div>
            <p class="certificates__text">
                Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на
                территории Казахстана. Мы одна из первых компаний являющихся лицензированным консультантом в сфере
                минеральных ресурсов (лицензия №AFSA-A-LA-2020-0004). Мinerals Operating зарегистрирована в
                Международном Финансовом Центре «Астана» (МФЦА) и осуществляет деятельность, основанную на нормах и
                принципах Английского общего права.
                МФЦА – это уникальный центр, который использует лучшие практики и подходы международных финансовых
                центров и сотрудничает с крупными корпорациями и небольшими компаниями, недавно появившимися на рынке.
                Органы управления МФЦА предлагают предпринимателям возможности для привлечения инвестиций и гарантии для
                поддержки бизнеса, выгодный налоговый режим и льготы для бизнес-операций.
            </p>
        </div>
    </div>
    <div class="story">
        <div class="container">
            <h2 class="story__title title-2 tac">
                История компании
            </h2>
            <ul class="story__list list-reset">
                <li class="story__item story-item story-item--1">
                    <span class="story-item__year">
                        2000
                    </span>
                    <p class="story-item__descr">
                        Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на
                        территории Казахстана.
                    </p>
                </li>
                <li class="story__item story-item story-item--2">
                    <span class="story-item__year">
                        2005
                    </span>
                    <p class="story-item__descr">
                        Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на
                        территории Казахстана.
                    </p>
                </li>
                <li class="story__item story-item story-item--3">
                    <span class="story-item__year">
                        2007
                    </span>
                    <p class="story-item__descr">
                        Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на
                        территории Казахстана.
                    </p>
                </li>
                <li class="story__item story-item story-item--4">
                    <span class="story-item__year">
                        2009
                    </span>
                    <p class="story-item__descr">
                        Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на
                        территории Казахстана.
                    </p>
                </li>
                <li class="story__item story-item story-item--5">
                    <span class="story-item__year">
                        2012
                    </span>
                    <p class="story-item__descr">
                        Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на
                        территории Казахстана.
                    </p>
                </li>
                <li class="story__item story-item story-item--6">
                    <span class="story-item__year">
                        2015
                    </span>
                    <p class="story-item__descr">
                        Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на
                        территории Казахстана.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
