<section class="company-descr">
    <div class="container">
        <h2 class="company-descr__title">
            Мinerals Operating
        </h2>
        <div class="company-descr__text">
            <p>
                Это молодая компания, которая оказывает услуги в сфере недропользования на территории Казахстана. Мы
                одна из первых компаний являющихся лицензированным консультантом в сфере минеральных ресурсов (лицензия
                №AFSA-A-LA-2020-0004). Мinerals Operating зарегистрирована в Международном Финансовом Центре «Астана»
                (МФЦА) и осуществляет деятельность, основанную на нормах и принципах Английского общего права.
                Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на
                территории Казахстана. Мы одна из первых компаний являющихся лицензированным консультантом в сфере
                минеральных ресурсов (лицензия №AFSA-A-LA-2020-0004). Мinerals Operating зарегистрирована в
                Международном Финансовом Центре «Астана» (МФЦА) и осуществляет деятельность, основанную на нормах и
                принципах Английского общего права.
            </p>
            <p>
                Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на
                территории Казахстана. Мы одна из первых компаний являющихся лицензированным консультантом в сфере
                минеральных ресурсов (лицензия №AFSA-A-LA-2020-0004). Мinerals Operating зарегистрирована в
                Международном Финансовом Центре «Астана» (МФЦА) и осуществляет деятельность, основанную на нормах и
                принципах Английского общего права.
            </p>
        </div>
        <ul class="company-descr__benefits benefits list-reset">
            <li class="benefits__item">
                <svg class="benefits__icon">
                    <use xlink:href="img/sprite.svg#check"></use>
                </svg>
                <div class="benefits__info">
                    <h3 class="benefits__title">
                        Мы лучшие в этом
                    </h3>
                    <p class="benefits__descr">
                        Мы понимаем как супер тяжело
                        делать помогаем новичкам
                    </p>
                </div>
            </li>
            <li class="benefits__item">
                <svg class="benefits__icon">
                    <use xlink:href="img/sprite.svg#check"></use>
                </svg>
                <div class="benefits__info">
                    <h3 class="benefits__title">
                        Мы лучшие в этом
                    </h3>
                    <p class="benefits__descr">
                        Мы понимаем как супер тяжело
                        делать помогаем новичкам
                    </p>
                </div>
            </li>
            <li class="benefits__item">
                <svg class="benefits__icon">
                    <use xlink:href="img/sprite.svg#check"></use>
                </svg>
                <div class="benefits__info">
                    <h3 class="benefits__title">
                        Мы лучшие в этом
                    </h3>
                    <p class="benefits__descr">
                        Мы понимаем как супер тяжело
                        делать помогаем новичкам
                    </p>
                </div>
            </li>
            <li class="benefits__item">
                <svg class="benefits__icon">
                    <use xlink:href="img/sprite.svg#check"></use>
                </svg>
                <div class="benefits__info">
                    <h3 class="benefits__title">
                        Мы лучшие в этом
                    </h3>
                    <p class="benefits__descr">
                        Мы понимаем как супер тяжело
                        делать помогаем новичкам
                    </p>
                </div>
            </li>
        </ul>
        <div class="company-descr__text company-descr__text--2">
            <p>
                Это молодая компания, которая оказывает услуги в сфере недропользования на территории Казахстана. Мы
                одна из первых компаний являющихся лицензированным консультантом в сфере минеральных ресурсов (лицензия
                №AFSA-A-LA-2020-0004). Мinerals Operating зарегистрирована в Международном Финансовом Центре «Астана»
                (МФЦА) и осуществляет деятельность, основанную на нормах и принципах Английского общего права.
                Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на
                территории Казахстана. Мы одна из первых компаний являющихся лицензированным консультантом в сфере
                минеральных ресурсов (лицензия №AFSA-A-LA-2020-0004). Мinerals Operating зарегистрирована в
                Международном Финансовом Центре «Астана» (МФЦА) и осуществляет деятельность, основанную на нормах и
                принципах Английского общего права.
            </p>
        </div>
    </div>
</section>
