<section class="company-news" style="background-image: url(img/company-news-bg.png);">
    <div class="container">
        <h2 class="company-news__title title-2 tac">
            Новости компании
        </h2>
        <div class="company-news__list">
            <article class="company-news__item news-card news-card--primary news-card--white">
                <a href="#" class="news-card__img">
                    <picture>
                        <source srcset="./img/news-1.avif" type="image/avif">
                        <source srcset="./img/news-1.webp" type="image/webp">
                        <img loading="lazy" src="./img/news-1.jpg" width="508" height="279"
                            alt="Проектирование горных производств">
                    </picture>
                </a>
                <div class="news-card__info">
                    <time class="news-card__time" datetime="2014-12-21">
                        12.21.2014
                    </time>
                    <a href="#" class="news-card__title">
                        Проектирование горных
                        производств
                    </a>
                    <p class="news-card__descr">
                        Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования
                        на...
                    </p>
                </div>
            </article>
            <article class="company-news__item news-card news-card--primary news-card--white">
                <a href="#" class="news-card__img">
                    <picture>
                        <source srcset="./img/news-1.avif" type="image/avif">
                        <source srcset="./img/news-1.webp" type="image/webp">
                        <img loading="lazy" src="./img/news-1.jpg" width="508" height="279"
                            alt="Проектирование горных производств">
                    </picture>
                </a>
                <div class="news-card__info">
                    <time class="news-card__time" datetime="2014-12-21">
                        12.21.2014
                    </time>
                    <a href="#" class="news-card__title">
                        Проектирование горных
                        производств
                    </a>
                    <p class="news-card__descr">
                        Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования
                        на...
                    </p>
                </div>
            </article>
            <article class="company-news__item news-card news-card--primary news-card--white">
                <a href="#" class="news-card__img">
                    <picture>
                        <source srcset="./img/news-1.avif" type="image/avif">
                        <source srcset="./img/news-1.webp" type="image/webp">
                        <img loading="lazy" src="./img/news-1.jpg" width="508" height="279"
                            alt="Проектирование горных производств">
                    </picture>
                </a>
                <div class="news-card__info">
                    <time class="news-card__time" datetime="2014-12-21">
                        12.21.2014
                    </time>
                    <a href="#" class="news-card__title">
                        Проектирование горных
                        производств
                    </a>
                    <p class="news-card__descr">
                        Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования
                        на...
                    </p>
                </div>
            </article>
        </div>
        <div class="company-news__footer">
            <a href="./news.html" class="btn btn-reset btn-secondary company-news__btn">
                Все новости
            </a>
        </div>
    </div>
</section>
