<section class="company-principles">
    <div class="container">
        <h2 class="company-principles__title title-2 tac">
            Принципы компании
        </h2>
        <ul class="company-principles__list list-reset">
            <li class="company-principles__item company-principles-item">
                <svg>
                    <use xlink:href="img/sprite.svg#why-we-icon-1"></use>
                </svg>
                <h3 class="company-principles-item__title">
                    Клиентоориентированность
                </h3>
                <p class="company-principles-item__descr">
                    Мы понимаем как тяжело начинать как делать помогаем новичкам
                </p>
            </li>
            <li class="company-principles__item company-principles-item">
                <svg>
                    <use xlink:href="img/sprite.svg#why-we-icon-2"></use>
                </svg>
                <h3 class="company-principles-item__title">
                    Предоставление
                    качественных услуг
                </h3>
                <p class="company-principles-item__descr">
                    Мы понимаем как тяжело начинать как делать помогаем новичкам
                </p>
            </li>
            <li class="company-principles__item company-principles-item">
                <svg>
                    <use xlink:href="img/sprite.svg#why-we-icon-3"></use>
                </svg>
                <h3 class="company-principles-item__title">
                    Развитие бизнеса
                </h3>
                <p class="company-principles-item__descr">
                    Мы понимаем как тяжело начинать как делать помогаем новичкам
                </p>
            </li>
            <li class="company-principles__item company-principles-item">
                <svg>
                    <use xlink:href="img/sprite.svg#why-we-icon-4"></use>
                </svg>
                <h3 class="company-principles-item__title">
                    Конфиденциальность
                </h3>
                <p class="company-principles-item__descr">
                    Мы понимаем как тяжело начинать как делать помогаем новичкам
                </p>
            </li>
            <li class="company-principles__item company-principles-item">
                <svg>
                    <use xlink:href="img/sprite.svg#why-we-icon-5"></use>
                </svg>
                <h3 class="company-principles-item__title">
                    Грамотный подход
                </h3>
                <p class="company-principles-item__descr">
                    Мы понимаем как тяжело начинать как делать помогаем новичкам
                </p>
            </li>
            <li class="company-principles__item company-principles-item">
                <svg>
                    <use xlink:href="img/sprite.svg#why-we-icon-6"></use>
                </svg>
                <h3 class="company-principles-item__title">
                    Соблюдение сроков
                </h3>
                <p class="company-principles-item__descr">
                    Мы понимаем как тяжело начинать как делать помогаем новичкам
                </p>
            </li>
        </ul>
    </div>
</section>
