<section class="contacts" id="contacts-maps">
    <div class="container">
        <div class="contacts__content">
            <h3 class="contacts__title">
                По всем вопросам
            </h3>
            <a href="mailto:info@moperating.kz" class="contacts__email">
                info@moperating.kz
            </a>
            <ul class="contacts__list list-reset">
                <li class="contacts__item contacts-item contacts-item--address">
                    <div class="contacts-item__inner">
                        <svg>
                            <use xlink:href="img/sprite.svg#mark"></use>
                        </svg>
                        <div class="contacts-item__info">
                            <span class="contacts-item__title">
                                Адрес
                            </span>
                            <p class="contacts-item__text">
                                РК, г. Нур-Султан, Проспект Мангилик Ел, 55/21, этаж 1, Блок C4.2, офис 164
                            </p>
                        </div>
                    </div>
                </li>
                <li class="contacts__item contacts-item contacts-item--tel">
                    <a href="tel:77172247280" class="contacts-item__inner">
                        <svg>
                            <use xlink:href="img/sprite.svg#dots"></use>
                        </svg>
                        <div class="contacts-item__info">
                            <span class="contacts-item__title">
                                +7 (7172) 24 72 80
                            </span>
                            <span class="contacts-item__text">
                                с 9:00 до 18:00
                            </span>
                        </div>
                    </a>
                </li>
                <li class="contacts__item contacts-item contacts-item--clock">
                    <div class="contacts-item__inner">
                        <svg>
                            <use xlink:href="img/sprite.svg#clock"></use>
                        </svg>
                        <div class="contacts-item__info">
                            <span class="contacts-item__title">
                                График работы
                            </span>
                            <p class="contacts-item__text">
                                пн-вс (9:00-22:00)
                            </p>
                        </div>
                    </div>
                </li>
                <li class="contacts__item contacts-item contacts-item--whatsapp">
                    <a href="tel:77172247280" class="contacts-item__inner">
                        <svg>
                            <use xlink:href="img/sprite.svg#whatsapp"></use>
                        </svg>
                        <div class="contacts-item__info">
                            <span class="contacts-item__title">
                                +7 (7172) 24 72 80
                            </span>
                            <span class="contacts-item__text">
                                Whatsapp
                            </span>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="contacts__footer">
                <ul class="contacts__socials social list-reset">
                    <li class="social__item">
                        <a href="#" target="_blank" class="social__link social__link--inst"
                            title="Наша страничка в Инстаграме">
                            <img loading="lazy" src="img/inst.svg" width="29" height="29"
                                alt="Наша страничка в Инстаграме">
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" target="_blank" class="social__link social__link--vk"
                            title="Наша страничка во Вконтакте">
                            <img loading="lazy" src="img/vk.svg" width="29" height="29"
                                alt="Наша страничка во Вконтакте">
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" target="_blank" class="social__link social__link--fb"
                            title="Наша страничка в Фейсбуке">
                            <img loading="lazy" src="img/fb.svg" width="29" height="29" alt="Наша страничка в Фейсбуке">
                        </a>
                    </li>
                </ul>
                <button type="submit" class="btn btn-reset btn-primary contacts__btn">Оформить заявку</button>
            </div>
        </div>
    </div>
</section>
