<section class="employees">
    <div class="container">
        <h2 class="employees__title title-2 tac">
            Сотрудники
        </h2>
        <ul class="employees__list list-reset">
            <li class="employees__item">
                <picture>
                    <source srcset="img/employees-1.avif" type="image/avif">
                    <source srcset="img/employees-1.webp" type="image/webp">
                    <img loading="lazy" src="img/employees-1.jpg" class="employees__img" width="379" height="436"
                        alt="Вячеслав Пак">
                </picture>
                <span class="employees__name">
                    Вячеслав Пак
                </span>
                <span class="employees__position">
                    Генеральный директор
                </span>
            </li>
            <li class="employees__item">
                <picture>
                    <source srcset="img/employees-1.avif" type="image/avif">
                    <source srcset="img/employees-1.webp" type="image/webp">
                    <img loading="lazy" src="img/employees-1.jpg" class="employees__img" width="379" height="436"
                        alt="Вячеслав Пак">
                </picture>
                <span class="employees__name">
                    Вячеслав Пак
                </span>
                <span class="employees__position">
                    Генеральный директор
                </span>
            </li>
            <li class="employees__item">
                <picture>
                    <source srcset="img/employees-1.avif" type="image/avif">
                    <source srcset="img/employees-1.webp" type="image/webp">
                    <img loading="lazy" src="img/employees-1.jpg" class="employees__img" width="379" height="436"
                        alt="Вячеслав Пак">
                </picture>
                <span class="employees__name">
                    Вячеслав Пак
                </span>
                <span class="employees__position">
                    Генеральный директор
                </span>
            </li>
            <li class="employees__item">
                <picture>
                    <source srcset="img/employees-1.avif" type="image/avif">
                    <source srcset="img/employees-1.webp" type="image/webp">
                    <img loading="lazy" src="img/employees-1.jpg" class="employees__img" width="379" height="436"
                        alt="Вячеслав Пак">
                </picture>
                <span class="employees__name">
                    Вячеслав Пак
                </span>
                <span class="employees__position">
                    Генеральный директор
                </span>
            </li>
        </ul>
    </div>
</section>
