<section class="employees">
    <div class="container">
        <h2 class="employees__title title-2 tac">
            Сотрудники
        </h2>
        <ul class="employees__list list-reset">
            <li class="employees__item">
                <img class="employees__img" src="img/employees-1.jpg" alt="Вячеслав Пак">
                <span class="employees__name">
                    Вячеслав Пак
                </span>
                <span class="employees__position">
                    Генеральный директор
                </span>
            </li>
            <li class="employees__item">
                <img class="employees__img" src="img/employees-1.jpg" alt="Вячеслав Пак">
                <span class="employees__name">
                    Вячеслав Пак
                </span>
                <span class="employees__position">
                    Генеральный директор
                </span>
            </li>
            <li class="employees__item">
                <img class="employees__img" src="img/employees-1.jpg" alt="Вячеслав Пак">
                <span class="employees__name">
                    Вячеслав Пак
                </span>
                <span class="employees__position">
                    Генеральный директор
                </span>
            </li>
            <li class="employees__item">
                <img class="employees__img" src="img/employees-1.jpg" alt="Вячеслав Пак">
                <span class="employees__name">
                    Вячеслав Пак
                </span>
                <span class="employees__position">
                    Генеральный директор
                </span>
            </li>
        </ul>
    </div>
</section>