<footer class="footer">
    <div class="container">
        <ul class="footer__cols list-reset">
            <div class="footer__col footer-about footer__col--1">
                <a href="#" class="footer-about__logo logo">
                    <img loading="lazy" src="img/logo-2.png" class="logo__img" width="153" height="68"
                        alt="Логотип Minerals">
                </a>
                <p class="footer-about__descr">
                    Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на
                    территории Казахстана. Мы одна из первых компаний являющихся лицензированным консультантом в сфере
                    минеральных ресурсов (лицензия №AFSA-A-LA-2020-0004).
                </p>
            </div>
            <div class="footer__col footer-nav footer__col--2">
                <h3 class="footer__title">
                    Основное
                </h3>
                <ul class="footer-nav__list list-reset">
                    <li class="footer-nav__item">
                        <a href="#" class="footer-nav__link">
                            Главная
                        </a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="#" class="footer-nav__link">
                            О нас
                        </a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="#" class="footer-nav__link">
                            Услуги
                        </a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="#" class="footer-nav__link">
                            Вакансии
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__col footer-nav footer__col--3">
                <h3 class="footer__title">
                    Навигация
                </h3>
                <ul class="footer-nav__list list-reset">
                    <li class="footer-nav__item">
                        <a href="#" class="footer-nav__link">
                            Контакты
                        </a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="#" class="footer-nav__link">
                            Помощь
                        </a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="#" class="footer-nav__link">
                            Политика
                        </a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="#" class="footer-nav__link">
                            Обратная связь
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer__col footer-contacts footer__col--4">
                <h3 class="footer__title">
                    Контакты
                </h3>
                <div class="footer-contacts__inner">
                    <address class="footer-contacts__address">
                        РК, г. Нур-Султан, Проспект Мангилик Ел, 55/21, этаж 1, Блок C4.2, офис 164
                    </address>
                    <a href="tel:77172247280" class="footer-contacts__phone">
                        <svg>
                            <use xlink:href="img/sprite.svg#dots"></use>
                        </svg>
                        <span>+7 (7172) 24 72 80</span>
                    </a>
                    <ul class="footer-contacts__socials social list-reset">
                        <li class="social__item">
                            <a href="#" target="_blank" class="social__link social__link--inst"
                                title="Наша страничка в Инстаграме">
                                <img loading="lazy" src="img/inst.svg" width="23" height="23"
                                    alt="Наша страничка в Инстаграме">
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" target="_blank" class="social__link social__link--vk"
                                title="Наша страничка во Вконтакте">
                                <img loading="lazy" src="img/vk.svg" width="23" height="23"
                                    alt="Наша страничка во Вконтакте">
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" target="_blank" class="social__link social__link--fb"
                                title="Наша страничка в Фейсбуке">
                                <img loading="lazy" src="img/fb.svg" width="23" height="23"
                                    alt="Наша страничка в Фейсбуке">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </ul>
    </div>
</footer>
