<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="#" class="header__logo logo">
                <img loading="lazy" src="img/logo.png" class="logo__img" width="164" height="51" alt="Логотип Minerals">
            </a>
            <nav class="header__nav nav" data-menu data-fullscreen>
                <ul class="nav__list list-reset">
                    <li class="nav__item"><span class="nav__link nav__link--active">Главная</span></li>
                    <li class="nav__item"><a href="#" class="nav__link">О компании</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Услуги</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Новости</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
                </ul>
            </nav>
            <div class="header__right">
                <div class="header__feedback" data-da=".header__nav,1024,last">
                    <div class="header__call header-call header-call--email">
                        <svg class="header-call__icon">
                            <use xlink:href="img/sprite.svg#email"></use>
                        </svg>
                        <a href="mailto:info@moperating.kz" class="header-call__link">info@moperating.kz</a>
                        <button type="button" class="btn btn-reset header-call__btn">Заказать звонок</button>
                    </div>
                    <div class="header__call header-call header-call--tel">
                        <svg class="header-call__icon">
                            <use xlink:href="img/sprite.svg#dots"></use>
                        </svg>
                        <a href="tel:77172247280" class="header-call__link">+7 (7172) 24 72 80</a>
                        <button type="button" class="btn btn-reset header-call__btn">Заказать звонок</button>
                    </div>
                </div>
                <button type="button" class="btn btn-reset header__search search">
                    <svg class="search__icon">
                        <use xlink:href="img/sprite.svg#search"></use>
                    </svg>
                </button>
                <div class="header__lang select-lang">
                    <button class="select-lang__title flag--russian btn btn-reset"><span>Русский</span></button>
                    <ul class="select-lang__dropdown list-reset">
                        <li class="select-lang__item">
                            <a href="#" class="select-lang__link">
                                Русский
                            </a>
                        </li>
                        <li class="select-lang__item">
                            <a href="#" class="select-lang__link">
                                English
                            </a>
                        </li>
                        <li class="select-lang__item">
                            <a href="#" class="select-lang__link">
                                Español
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
                <span class="burger__line"></span>
            </button>
        </div>
    </div>
</header>
