<section class="hero-about hero-secondary" style="background-image: url('img/hero-drill-bg.jpg');">
    <div class="container">
        <ul class="hero-secondary__breadcrumbs breadcrumbs list-reset">
            <li class="breadcrumbs__item">
                <a href="./index.html">
                    Главная
                </a>
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-down"></use>
                </svg>
            </li>
            <li class="breadcrumbs__item">
                <a href="./services.html">
                    Наши услуги
                </a>
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-down"></use>
                </svg>
            </li>
            <li class="breadcrumbs__item">
                Буровые работы
            </li>
        </ul>
        <div class="hero-secondary__inner">
            <h2 class="hero-secondary__title">
                Буровые работы
            </h2>
            <p class="hero-secondary__descr">
                МФЦА – это уникальный центр, который использует лучшие практики и подходы международных финансовых
                центров и сотрудничает с крупными корпорациями
                и небольшими компаниями, недавно появившимися на рынке.
            </p>
        </div>
    </div>
</section>
