<section class="hero">
    <div class="container">
        <div class="hero__inner">
            <div class="hero__left">
                <h1 class="hero__title title-1">
                    Оказание полного спектра услуг
                    в области
                    недропользования
                </h1>
                <p class="hero__descr">
                    МФЦА – это уникальный центр, который использует лучшие практики и подходы международных финансовых
                    центров и сотрудничает с крупными корпорациями
                    и небольшими компаниями, недавно появившимися на рынке.
                </p>
                <ul class="hero__list list-reset">
                    <li class="hero__item">
                        Наличие опытных
                        специалистов
                    </li>
                    <li class="hero__item">
                        Современные методы
                        в геологоразведке
                    </li>
                    <li class="hero__item">
                        Налаженная сеть
                        партнеров
                    </li>
                    <li class="hero__item">
                        Постоянный
                        контроль качества
                    </li>
                </ul>
                <button type="submit" class="btn btn-reset btn-primary hero__btn">Оформить заявку</button>
            </div>
            <div class="hero__right">
                <div class="video-block">
                    <button class="btn btn-reset video-block__play" aria-label="Запустить видео">
                        <svg>
                            <use xlink:href="img/sprite.svg#play"></use>
                        </svg>
                    </button>
                    <video class="video-block__content" poster="img/hero-poster.jpg" preload="metadata" src="hero-video.mp4"
                        type="videp/mp4">
                    </video>
                </div>
            </div>

        </div>
    </div>
</section>
