<div class="news container">
    <div class="news__content">
        <div class="news__best best-news">
            <h2 class="best-news__title title-2">
                Топ новости
            </h2>
            <div class="best-news__inner">
                <article class="best-news__card news-card news-card--secondary news-card--water">
                    <a href="#" class="news-card__img">
                        <picture>
                            <source srcset="./img/news-1.avif" type="image/avif">
                            <source srcset="./img/news-1.webp" type="image/webp">
                            <img loading="lazy" src="./img/news-1.jpg" class="image" width="408" height="347"
                                alt="Проектирование горных производств">
                        </picture>
                    </a>
                    <div class="news-card__info">
                        <time class="news-card__time" datetime="2014-12-21">
                            12.21.2014
                        </time>
                        <a href="#" class="news-card__title">
                            Проектирование горных
                            производств
                        </a>
                        <p class="news-card__descr">
                            Мinerals Operating – это молодая компания, которая оказывает услуги в сфере
                            недропользования на территории Казахстана. Мы одна из первых компаний являющихся
                            лицензированным консультантом в сфере минеральных ресурсов (лицензия
                            №AFSA-A-LA-2020-0004). Мinerals
                        </p>
                    </div>
                </article>
            </div>
            <div class="best-news__pag pagination">
                <ul class="pagination__list list-reset">
                    <li class="pagination__item">
                        <span class="pagination--active">
                            1
                        </span>
                    </li>
                    <li class="pagination__item">
                        <a href="#">
                            2
                        </a>
                    </li>
                    <li class="pagination__item">
                        <a href="#">
                            3
                        </a>
                    </li>
                    <li class="pagination__item">
                        <a href="#">
                            4
                        </a>
                    </li>
                    <li class="pagination__item">
                        <a href="#">
                            5
                        </a>
                    </li>
                </ul>
                <a href="#" class="pagination__end">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-down"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="news__our our-news">
            <h2 class="our-news__title title-2">
                Наши новости
            </h2>
            <div class="our-news__inner">
                <article class="our-news__card news-card news-card--small news-card--water">
                    <a href="#" class="news-card__img">
                        <picture>
                            <source srcset="./img/news-2.avif" type="image/avif">
                            <source srcset="./img/news-2.webp" type="image/webp">
                            <img loading="lazy" src="./img/news-2.jpg" class="image" width="199" height="212"
                                alt="Проектирование горных производств">
                        </picture>
                    </a>
                    <div class="news-card__info">
                        <time class="news-card__time" datetime="2014-12-21">
                            12.21.2014
                        </time>
                        <a href="#" class="news-card__title">
                            Проектирование горных
                            производств
                        </a>
                        <p class="news-card__descr">
                            Мinerals Operating – это молодая компания, которая оказывает...
                        </p>
                    </div>
                </article>
                <article class="our-news__card news-card news-card--small news-card--water">
                    <a href="#" class="news-card__img">
                        <picture>
                            <source srcset="./img/news-2.avif" type="image/avif">
                            <source srcset="./img/news-2.webp" type="image/webp">
                            <img loading="lazy" src="./img/news-2.jpg" class="image" width="199" height="212"
                                alt="Проектирование горных производств">
                        </picture>
                    </a>
                    <div class="news-card__info">
                        <time class="news-card__time" datetime="2014-12-21">
                            12.21.2014
                        </time>
                        <a href="#" class="news-card__title">
                            Проектирование горных
                            производств
                        </a>
                        <p class="news-card__descr">
                            Мinerals Operating – это молодая компания, которая оказывает...
                        </p>
                    </div>
                </article>
                <article class="our-news__card news-card news-card--small news-card--water">
                    <a href="#" class="news-card__img">
                        <picture>
                            <source srcset="./img/news-2.avif" type="image/avif">
                            <source srcset="./img/news-2.webp" type="image/webp">
                            <img loading="lazy" src="./img/news-2.jpg" class="image" width="199" height="212"
                                alt="Проектирование горных производств">
                        </picture>
                    </a>
                    <div class="news-card__info">
                        <time class="news-card__time" datetime="2014-12-21">
                            12.21.2014
                        </time>
                        <a href="#" class="news-card__title">
                            Проектирование горных
                            производств
                        </a>
                        <p class="news-card__descr">
                            Мinerals Operating – это молодая компания, которая оказывает...
                        </p>
                    </div>
                </article>
                <article class="our-news__card news-card news-card--small news-card--water">
                    <a href="#" class="news-card__img">
                        <picture>
                            <source srcset="./img/news-2.avif" type="image/avif">
                            <source srcset="./img/news-2.webp" type="image/webp">
                            <img loading="lazy" src="./img/news-2.jpg" class="image" width="199" height="212"
                                alt="Проектирование горных производств">
                        </picture>
                    </a>
                    <div class="news-card__info">
                        <time class="news-card__time" datetime="2014-12-21">
                            12.21.2014
                        </time>
                        <a href="#" class="news-card__title">
                            Проектирование горных
                            производств
                        </a>
                        <p class="news-card__descr">
                            Мinerals Operating – это молодая компания, которая оказывает...
                        </p>
                    </div>
                </article>
                <article class="our-news__card news-card news-card--small news-card--water">
                    <a href="#" class="news-card__img">
                        <picture>
                            <source srcset="./img/news-2.avif" type="image/avif">
                            <source srcset="./img/news-2.webp" type="image/webp">
                            <img loading="lazy" src="./img/news-2.jpg" class="image" width="199" height="212"
                                alt="Проектирование горных производств">
                        </picture>
                    </a>
                    <div class="news-card__info">
                        <time class="news-card__time" datetime="2014-12-21">
                            12.21.2014
                        </time>
                        <a href="#" class="news-card__title">
                            Проектирование горных
                            производств
                        </a>
                        <p class="news-card__descr">
                            Мinerals Operating – это молодая компания, которая оказывает...
                        </p>
                    </div>
                </article>
                <article class="our-news__card news-card news-card--small news-card--water">
                    <a href="#" class="news-card__img">
                        <picture>
                            <source srcset="./img/news-2.avif" type="image/avif">
                            <source srcset="./img/news-2.webp" type="image/webp">
                            <img loading="lazy" src="./img/news-2.jpg" class="image" width="199" height="212"
                                alt="Проектирование горных производств">
                        </picture>
                    </a>
                    <div class="news-card__info">
                        <time class="news-card__time" datetime="2014-12-21">
                            12.21.2014
                        </time>
                        <a href="#" class="news-card__title">
                            Проектирование горных
                            производств
                        </a>
                        <p class="news-card__descr">
                            Мinerals Operating – это молодая компания, которая оказывает...
                        </p>
                    </div>
                </article>
            </div>
            <div class="our-news__pag pagination">
                <ul class="pagination__list list-reset">
                    <li class="pagination__item">
                        <span class="pagination--active">
                            1
                        </span>
                    </li>
                    <li class="pagination__item">
                        <a href="#">
                            2
                        </a>
                    </li>
                    <li class="pagination__item">
                        <a href="#">
                            3
                        </a>
                    </li>
                    <li class="pagination__item">
                        <a href="#">
                            4
                        </a>
                    </li>
                    <li class="pagination__item">
                        <a href="#">
                            5
                        </a>
                    </li>
                </ul>
                <a href="#" class="pagination__end">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-down"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <aside class="news__sidebar sidebar">
        <div class="sidebar__row sidebar-row last-news">
            <h3 class="sidebar-row__title">
                Последние новости
            </h3>
            <div class="sidebar-row__list">
                <article class="last-news__card news-card news-card--very-small news-card--white">
                    <a href="#" class="news-card__img">
                        <picture>
                            <source srcset="./img/news-3.avif" type="image/avif">
                            <source srcset="./img/news-3.webp" type="image/webp">
                            <img loading="lazy" src="./img/news-3.jpg" width="114" height="95"
                                alt="Проектирование горных производств">
                        </picture>
                    </a>
                    <div class="news-card__info">
                        <a href="#" class="news-card__title">
                            Горные производств...
                        </a>
                        <p class="news-card__descr">
                            Мinerals Operating – это молодая компания, которая...
                        </p>
                        <time class="news-card__time" datetime="2014-12-21">
                            12.21.2014
                        </time>
                    </div>
                </article>
                <article class="last-news__card news-card news-card--very-small news-card--white">
                    <a href="#" class="news-card__img">
                        <picture>
                            <source srcset="./img/news-3.avif" type="image/avif">
                            <source srcset="./img/news-3.webp" type="image/webp">
                            <img loading="lazy" src="./img/news-3.jpg" width="114" height="95"
                                alt="Проектирование горных производств">
                        </picture>
                    </a>
                    <div class="news-card__info">
                        <a href="#" class="news-card__title">
                            Горные производств...
                        </a>
                        <p class="news-card__descr">
                            Мinerals Operating – это молодая компания, которая...
                        </p>
                        <time class="news-card__time" datetime="2014-12-21">
                            12.21.2014
                        </time>
                    </div>
                </article>
                <article class="last-news__card news-card news-card--very-small news-card--white">
                    <a href="#" class="news-card__img">
                        <picture>
                            <source srcset="./img/news-3.avif" type="image/avif">
                            <source srcset="./img/news-3.webp" type="image/webp">
                            <img loading="lazy" src="./img/news-3.jpg" width="114" height="95"
                                alt="Проектирование горных производств">
                        </picture>
                    </a>
                    <div class="news-card__info">
                        <a href="#" class="news-card__title">
                            Горные производств...
                        </a>
                        <p class="news-card__descr">
                            Мinerals Operating – это молодая компания, которая...
                        </p>
                        <time class="news-card__time" datetime="2014-12-21">
                            12.21.2014
                        </time>
                    </div>
                </article>
                <article class="last-news__card news-card news-card--very-small news-card--white">
                    <a href="#" class="news-card__img">
                        <picture>
                            <source srcset="./img/news-3.avif" type="image/avif">
                            <source srcset="./img/news-3.webp" type="image/webp">
                            <img loading="lazy" src="./img/news-3.jpg" width="114" height="95"
                                alt="Проектирование горных производств">
                        </picture>
                    </a>
                    <div class="news-card__info">
                        <a href="#" class="news-card__title">
                            Горные производств...
                        </a>
                        <p class="news-card__descr">
                            Мinerals Operating – это молодая компания, которая...
                        </p>
                        <time class="news-card__time" datetime="2014-12-21">
                            12.21.2014
                        </time>
                    </div>
                </article>
            </div>
        </div>
        <div class="sidebar__row sidebar-row interesting-news">
            <h3 class="sidebar-row__title">
                Интересные новости
            </h3>
            <div class="sidebar-row__list">
                <article class="interesting-news__card news-card news-card--very-small news-card--white">
                    <a href="#" class="news-card__img">
                        <picture>
                            <source srcset="./img/news-3.avif" type="image/avif">
                            <source srcset="./img/news-3.webp" type="image/webp">
                            <img loading="lazy" src="./img/news-3.jpg" width="114" height="95"
                                alt="Проектирование горных производств">
                        </picture>
                    </a>
                    <div class="news-card__info">
                        <a href="#" class="news-card__title">
                            Горные производств...
                        </a>
                        <p class="news-card__descr">
                            Мinerals Operating – это молодая компания, которая...
                        </p>
                        <time class="news-card__time" datetime="2014-12-21">
                            12.21.2014
                        </time>
                    </div>
                </article>
                <article class="interesting-news__card news-card news-card--very-small news-card--white">
                    <a href="#" class="news-card__img">
                        <picture>
                            <source srcset="./img/news-3.avif" type="image/avif">
                            <source srcset="./img/news-3.webp" type="image/webp">
                            <img loading="lazy" src="./img/news-3.jpg" width="114" height="95"
                                alt="Проектирование горных производств">
                        </picture>
                    </a>
                    <div class="news-card__info">
                        <a href="#" class="news-card__title">
                            Горные производств...
                        </a>
                        <p class="news-card__descr">
                            Мinerals Operating – это молодая компания, которая...
                        </p>
                        <time class="news-card__time" datetime="2014-12-21">
                            12.21.2014
                        </time>
                    </div>
                </article>
                <article class="interesting-news__card news-card news-card--very-small news-card--white">
                    <a href="#" class="news-card__img">
                        <picture>
                            <source srcset="./img/news-3.avif" type="image/avif">
                            <source srcset="./img/news-3.webp" type="image/webp">
                            <img loading="lazy" src="./img/news-3.jpg" width="114" height="95"
                                alt="Проектирование горных производств">
                        </picture>
                    </a>
                    <div class="news-card__info">
                        <a href="#" class="news-card__title">
                            Горные производств...
                        </a>
                        <p class="news-card__descr">
                            Мinerals Operating – это молодая компания, которая...
                        </p>
                        <time class="news-card__time" datetime="2014-12-21">
                            12.21.2014
                        </time>
                    </div>
                </article>
                <article class="interesting-news__card news-card news-card--very-small news-card--white">
                    <a href="#" class="news-card__img">
                        <picture>
                            <source srcset="./img/news-3.avif" type="image/avif">
                            <source srcset="./img/news-3.webp" type="image/webp">
                            <img loading="lazy" src="./img/news-3.jpg" width="114" height="95"
                                alt="Проектирование горных производств">
                        </picture>
                    </a>
                    <div class="news-card__info">
                        <a href="#" class="news-card__title">
                            Горные производств...
                        </a>
                        <p class="news-card__descr">
                            Мinerals Operating – это молодая компания, которая...
                        </p>
                        <time class="news-card__time" datetime="2014-12-21">
                            12.21.2014
                        </time>
                    </div>
                </article>
            </div>
        </div>
        <div class="sidebar__row sidebar-row best-articles">
            <h3 class="sidebar-row__title">
                Топ статьи
            </h3>
            <div class="sidebar-row__list">
                <article class="best-articles__card news-card news-card--very-small news-card--white">
                    <a href="#" class="news-card__img">
                        <picture>
                            <source srcset="./img/news-3.avif" type="image/avif">
                            <source srcset="./img/news-3.webp" type="image/webp">
                            <img loading="lazy" src="./img/news-3.jpg" width="114" height="95"
                                alt="Проектирование горных производств">
                        </picture>
                    </a>
                    <div class="news-card__info">
                        <a href="#" class="news-card__title">
                            Горные производств...
                        </a>
                        <p class="news-card__descr">
                            Мinerals Operating – это молодая компания, которая...
                        </p>
                        <time class="news-card__time" datetime="2014-12-21">
                            12.21.2014
                        </time>
                    </div>
                </article>
                <article class="best-articles__card news-card news-card--very-small news-card--white">
                    <a href="#" class="news-card__img">
                        <picture>
                            <source srcset="./img/news-3.avif" type="image/avif">
                            <source srcset="./img/news-3.webp" type="image/webp">
                            <img loading="lazy" src="./img/news-3.jpg" width="114" height="95"
                                alt="Проектирование горных производств">
                        </picture>
                    </a>
                    <div class="news-card__info">
                        <a href="#" class="news-card__title">
                            Горные производств...
                        </a>
                        <p class="news-card__descr">
                            Мinerals Operating – это молодая компания, которая...
                        </p>
                        <time class="news-card__time" datetime="2014-12-21">
                            12.21.2014
                        </time>
                    </div>
                </article>
                <article class="best-articles__card news-card news-card--very-small news-card--white">
                    <a href="#" class="news-card__img">
                        <picture>
                            <source srcset="./img/news-3.avif" type="image/avif">
                            <source srcset="./img/news-3.webp" type="image/webp">
                            <img loading="lazy" src="./img/news-3.jpg" width="114" height="95"
                                alt="Проектирование горных производств">
                        </picture>
                    </a>
                    <div class="news-card__info">
                        <a href="#" class="news-card__title">
                            Горные производств...
                        </a>
                        <p class="news-card__descr">
                            Мinerals Operating – это молодая компания, которая...
                        </p>
                        <time class="news-card__time" datetime="2014-12-21">
                            12.21.2014
                        </time>
                    </div>
                </article>
            </div>
        </div>
    </aside>
</div>
