<section class="our-prices">
    <div class="container">
        <ul class="our-prices__list list-reset">
            <li class="our-prices__item our-prices__item--up">
                Gold <span>243.49$</span>
            </li>
            <li class="our-prices__item our-prices__item--down">
                Copper <span>243.49$</span>
            </li>
            <li class="our-prices__item our-prices__item--up">
                Gore <span>243.49$</span>
            </li>
            <li class="our-prices__item our-prices__item--down">
                Nickel <span>243.49$</span>
            </li>
            <li class="our-prices__item our-prices__item--up">
                Iron <span>243.49$</span>
            </li>
            <li class="our-prices__item our-prices__item--down">
                Lithium <span>243.49$</span>
            </li>
        </ul>
    </div>
</section>
