<section class="partners">
    <div class="container">
        <h2 class="partners__title title-2 tac">
            Наши партнеры
        </h2>
        <div class="partners__list">
            <a class="partners__item partners__item--apple" href="#">
                <svg>
                    <use xlink:href="img/sprite.svg#apple"></use>
                </svg>
            </a>
            <a class="partners__item partners__item--jeep" href="#">
                <svg>
                    <use xlink:href="img/sprite.svg#jeep"></use>
                </svg>
            </a>
            <a class="partners__item partners__item--google" href="#">
                <svg>
                    <use xlink:href="img/sprite.svg#google"></use>
                </svg>
            </a>
            <a class="partners__item partners__item--nike" href="#">
                <svg>
                    <use xlink:href="img/sprite.svg#nike"></use>
                </svg>
            </a>
            <a class="partners__item partners__item--tripadvisor" href="#">
                <svg>
                    <use xlink:href="img/sprite.svg#tripadvisor"></use>
                </svg>
            </a>
            <a class="partners__item partners__item--github" href="#">
                <svg>
                    <use xlink:href="img/sprite.svg#github"></use>
                </svg>
            </a>
        </div>
    </div>
</section>
