<div class="graph-modal">
    <div class="graph-modal__container call-modal" role="dialog" aria-modal="true" data-graph-target="call">
        <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__content call-modal__content">
            <h2 class="call-modal__title title-2 tac">
                Заказать звонок
            </h2>
            <form action="#" class="call-modal__form call-form">
                <div class="call-form__row call-form__row--inputs">
                    <label class="call-form__label">
                        <input type="text" name="Имя" class="input-reset call-form__input call-form__input--name"
                            placeholder="Ваше имя">
                    </label>
                    <label class="call-form__label">
                        <input type="tel" name="Телефон" class="input-reset call-form__input call-form__input--tel"
                            placeholder="Ваш телефон">
                    </label>
                </div>
                <div class="call-form__row call-form__row--textarea">
                    <label class="call-form__label">
                        <textarea class="input-reset call-form__textarea" placeholder="Сообщение"></textarea>
                    </label>
                </div>
                <span class="call-form__agreement">
                    При нажатии кнопки “отправить”, вы соглашаетесь
                    на обработку данных
                </span>
                <button class="btn btn-reset btn-secondary call-form__btn">Отправить</button>
            </form>
        </div>
    </div>
</div>
