<section class="principle-work">
    <div class="container">
        <h2 class="principle-work__title title-2 tac">
            Принцип нашей работы
        </h2>
        <ul class="principle-work__list list-reset">
            <li class="principle-work__item principle-work-item">
                <div class="principle-work-item__left">
                    <img loading="lazy" src="img/principle-work/principle-work-item-1.jpg" width="739" height="457"
                        alt="Буровые работы">
                </div>
                <div class="principle-work-item__right">
                    <h3 class="principle-work-item__title title-2">
                        Буровые работы
                    </h3>
                    <p class="principle-work-item__descr">
                        Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на
                        территории Казахстана. Мы одна из первых компаний являющихся лицензированным консультантом в
                        сфере минеральных ресурсов (лицензия №AFSA-A-LA-2020-0004). Мinerals Operating зарегистрирована
                        в Международном Финансовом Центре «Астана» (МФЦА) и осуществляет деятельность, основанную на
                        нормах и принципах Английского общего права.
                        МФЦА – это уникальный центр, который использует лучшие практики и подходы международных
                        финансовых центров и сотрудничает с крупными корпорациями и небольшими компаниями, недавно
                        появившимися на рынке.
                    </p>
                    <button type="submit" class="btn btn-reset btn-primary principle-work-item__btn">
                        Подробнее об услуге
                    </button>
                </div>
            </li>
            <li class="principle-work__item principle-work-item">
                <div class="principle-work-item__left">
                    <img loading="lazy" src="img/principle-work/principle-work-item-2.jpg" width="739" height="457"
                        alt="Буровые работы">
                </div>
                <div class="principle-work-item__right">
                    <h3 class="principle-work-item__title title-2">
                        Геологоразведочные работы
                    </h3>
                    <p class="principle-work-item__descr">
                        Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на
                        территории Казахстана. Мы одна из первых компаний являющихся лицензированным консультантом в
                        сфере минеральных ресурсов (лицензия №AFSA-A-LA-2020-0004). Мinerals Operating зарегистрирована
                        в Международном Финансовом Центре «Астана» (МФЦА) и осуществляет деятельность, основанную на
                        нормах и принципах Английского общего права.
                        МФЦА – это уникальный центр, который использует лучшие практики и подходы международных
                        финансовых центров и сотрудничает с крупными корпорациями и небольшими компаниями, недавно
                        появившимися на рынке.
                    </p>
                    <button type="submit" class="btn btn-reset btn-primary principle-work-item__btn">
                        Подробнее об услуге
                    </button>
                </div>
            </li>
            <li class="principle-work__item principle-work-item">
                <div class="principle-work-item__left">
                    <img loading="lazy" src="img/principle-work/principle-work-item-3.jpg" width="739" height="457"
                        alt="Буровые работы">
                </div>
                <div class="principle-work-item__right">
                    <h3 class="principle-work-item__title title-2">
                        Научно-исследовательские работы
                    </h3>
                    <p class="principle-work-item__descr">
Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на территории Казахстана. Мы одна из первых компаний являющихся лицензированным консультантом в сфере минеральных ресурсов (лицензия №AFSA-A-LA-2020-0004). Мinerals Operating зарегистрирована в Международном Финансовом Центре «Астана» (МФЦА) и осуществляет деятельность, основанную на нормах и принципах Английского общего права.
МФЦА – это уникальный центр, который использует лучшие практики и подходы международных финансовых центров и сотрудничает с крупными корпорациями и небольшими компаниями, недавно появившимися на рынке.
                    </p>
                    <button type="submit" class="btn btn-reset btn-primary principle-work-item__btn">
                        Подробнее об услуге
                    </button>
                </div>
            </li>
            <li class="principle-work__item principle-work-item">
                <div class="principle-work-item__left">
                    <img loading="lazy" src="img/principle-work/principle-work-item-2.jpg" width="739" height="457"
                        alt="Буровые работы">
                </div>
                <div class="principle-work-item__right">
                    <h3 class="principle-work-item__title title-2">
                        Геологоразведочные работы
                    </h3>
                    <p class="principle-work-item__descr">
                        Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на
                        территории Казахстана. Мы одна из первых компаний являющихся лицензированным консультантом в
                        сфере минеральных ресурсов (лицензия №AFSA-A-LA-2020-0004). Мinerals Operating зарегистрирована
                        в Международном Финансовом Центре «Астана» (МФЦА) и осуществляет деятельность, основанную на
                        нормах и принципах Английского общего права.
                        МФЦА – это уникальный центр, который использует лучшие практики и подходы международных
                        финансовых центров и сотрудничает с крупными корпорациями и небольшими компаниями, недавно
                        появившимися на рынке.
                    </p>
                    <button type="submit" class="btn btn-reset btn-primary principle-work-item__btn">
                        Подробнее об услуге
                    </button>
                </div>
            </li>
            <li class="principle-work__item principle-work-item">
                <div class="principle-work-item__left">
                    <img loading="lazy" src="img/principle-work/principle-work-item-3.jpg" width="739" height="457"
                        alt="Буровые работы">
                </div>
                <div class="principle-work-item__right">
                    <h3 class="principle-work-item__title title-2">
                        Научно-исследовательские работы
                    </h3>
                    <p class="principle-work-item__descr">
Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на территории Казахстана. Мы одна из первых компаний являющихся лицензированным консультантом в сфере минеральных ресурсов (лицензия №AFSA-A-LA-2020-0004). Мinerals Operating зарегистрирована в Международном Финансовом Центре «Астана» (МФЦА) и осуществляет деятельность, основанную на нормах и принципах Английского общего права.
МФЦА – это уникальный центр, который использует лучшие практики и подходы международных финансовых центров и сотрудничает с крупными корпорациями и небольшими компаниями, недавно появившимися на рынке.
                    </p>
                    <button type="submit" class="btn btn-reset btn-primary principle-work-item__btn">
                        Подробнее об услуге
                    </button>
                </div>
            </li>

        </ul>
    </div>
</section>
