<section class="questions-remain">
    <div class="container">
        <div class="questions-remain__inner">
            <div class="questions-remain__left">
                <h2 class="questions-remain__title title-2">
                    Остались вопросы ?
                </h2>
                <div class="questions-remain__text">
                    <p>
                        Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на
                        территории Казахстана. Мы одна из первых компаний являющихся лицензированным консультантом в
                        сфере
                        минеральных ресурсов (лицензия №AFSA-A-LA-2020-0004). Мinerals Operating зарегистрирована
                    </p>
                    <p>
                        Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на
                        территории Казахстана. Мы одна из первых компаний являющихся
                    </p>
                </div>
                <div class="questions-remain__feedback">
                    <p>
                        Напишите нам <span>email.ru@mail.ru</span>
                    </p>
                    <p>
                        или звоните <span>+7 (700) 555-55-66</span>
                    </p>
                </div>
            </div>
            <form action="#" class="questions-remain__form feedback-form">
                <div class="feedback-form__row feedback-form__row--inputs">
                    <label class="feedback-form__label">
                        <input type="text" name="Имя"
                            class="input-reset feedback-form__input feedback-form__input--name" placeholder="Ваше имя">
                    </label>
                    <label class="feedback-form__label">
                        <input type="tel" name="Телефон"
                            class="input-reset feedback-form__input feedback-form__input--tel"
                            placeholder="Ваш телефон">
                    </label>
                </div>
                <div class="feedback-form__row feedback-form__row--textarea">
                    <label class="feedback-form__label">
                        <textarea class="input-reset feedback-form__textarea" placeholder="Сообщение"></textarea>
                    </label>
                </div>
                <div class="feedback-form__row feedback-form__row--footer">
                    <button class="btn btn-reset btn-primary feedback-form__btn">Оформить заявку</button>
                    <span class="feedback-form__agreement">
                        При нажатии кнопки “отправить”, вы соглашаетесь
                        на обработку данных
                    </span>
                </div>
            </form>
        </div>
    </div>
</section>
