<section class="service-card">
    <div class="container">
        <div class="service-card__inner">
            <a href="#" class="service-card__img">
                <picture>
                    <source srcset="img/principle-work/principle-work-item-1.avif" type="image/avif">
                    <source srcset="img/principle-work/principle-work-item-1.webp" type="image/webp">
                    <img loading="lazy" src="img/principle-work/principle-work-item-1.jpg" width="739" height="439"
                        alt="Буровые работы">
                </picture>
            </a>
            <div class="service-card__info">
                <a class="service-card__title title-2" href="#">
                    Буровые работы
                </a>
                <div class="service-card__text">
                    <p>
                        Мinerals Operating – это молодая компания, которая оказывает услуги в сфере недропользования на
                        территории Казахстана. Мы одна из первых компаний являющихся лицензированным консультантом в
                        сфере минеральных ресурсов (лицензия №AFSA-A-LA-2020-0004). Мinerals Operating зарегистрирована
                        в Международном Финансовом Центре «Астана» (МФЦА) и осуществляет деятельность, основанную на
                        нормах и принципах Английского общего права.
                    </p>
                    <p>
                        МФЦА – это уникальный центр, который использует лучшие практики и подходы международных
                        финансовых центров и сотрудничает с крупными корпорациями и небольшими компаниями, недавно
                        появившимися на рынке.
                    </p>
                    <p>
                        МФЦА – это уникальный центр, который использует лучшие практики и подходы международных
                        финансовых центров и сотрудничает с крупными корпорациями и небольшими компаниями, недавно
                        появившимися на рынке.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
