<section class="why-we">
    <div class="container">
        <h2 class="why-we__title title-2 tac">
            ПОЧЕМУ MINERALS OPERATING?
        </h2>
        <ul class="why-we__list list-reset">
            <li class="why-we__item why-we-item">
                <svg>
                    <use xlink:href="img/sprite.svg#why-we-icon-1"></use>
                </svg>
                <h3 class="why-we-item__title">
                    Клиентоориентированность
                </h3>
                <p class="why-we-item__descr">
                    Мы понимаем как тяжело начинать как делать помогаем новичкам
                </p>
            </li>
            <li class="why-we__item why-we-item">
                <svg>
                    <use xlink:href="img/sprite.svg#why-we-icon-2"></use>
                </svg>
                <h3 class="why-we-item__title">
                    Предоставление
                    качественных услуг
                </h3>
                <p class="why-we-item__descr">
                    Мы понимаем как тяжело начинать как делать помогаем новичкам
                </p>
            </li>
            <li class="why-we__item why-we-item">
                <svg>
                    <use xlink:href="img/sprite.svg#why-we-icon-3"></use>
                </svg>
                <h3 class="why-we-item__title">
                    Развитие бизнеса
                </h3>
                <p class="why-we-item__descr">
                    Мы понимаем как тяжело начинать как делать помогаем новичкам
                </p>
            </li>
            <li class="why-we__item why-we-item">
                <svg>
                    <use xlink:href="img/sprite.svg#why-we-icon-4"></use>
                </svg>
                <h3 class="why-we-item__title">
                    Конфиденциальность
                </h3>
                <p class="why-we-item__descr">
                    Мы понимаем как тяжело начинать как делать помогаем новичкам
                </p>
            </li>
            <li class="why-we__item why-we-item">
                <svg>
                    <use xlink:href="img/sprite.svg#why-we-icon-5"></use>
                </svg>
                <h3 class="why-we-item__title">
                    Грамотный подход
                </h3>
                <p class="why-we-item__descr">
                    Мы понимаем как тяжело начинать как делать помогаем новичкам
                </p>
            </li>
            <li class="why-we__item why-we-item why-we-item--maps">
                <img loading="lazy" src="img/why-we-maps.png" width="508" height="279" alt="Карта сокровищ">
            </li>
        </ul>
    </div>
</section>
