.title-1 {
    font-weight: 700;
    @include adaptiveValue("font-size", 58, 25);
    line-height: math.div(70, 58);
}

.title-2 {
    font-weight: 700;
    @include adaptiveValue("font-size", 45, 20);
    line-height: math.div(55, 45);
}
.tac{
    text-align: center;
}
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(34, 31, 38, .8);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;

    &--visible {
        opacity: 1;
        visibility: visible;
        transition: .3s ease-in-out;
    }

    @media (max-width:$md1300) {
        display: block;
    }
}
