.title-1 {
    font-weight: 700;
    @include adaptiveValue("font-size", 58, 25);
    line-height: math.div(70, 58);
}

.title-2 {
    font-weight: 700;
    @include adaptiveValue("font-size", 45, 20);
    line-height: math.div(55, 45);
}

.tac {
    text-align: center;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(34, 31, 38, .8);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;

    &--visible {
        opacity: 1;
        visibility: visible;
        transition: .3s ease-in-out;
    }

    @media (max-width:$md1300) {
        display: block;
    }
}



.benefits {

    &__item {
        display: flex;
    }

    &__icon {
        fill: #203E75;
        width: 34px;
        height: 34px;
        flex: 0 0 34px;
    }

    &__info {
        margin-left: 15px;
    }

    &__title {
        color: #203E75;
        font-weight: 700;
        @include adaptiveValue("font-size", 20, 14);
        line-height: math.div(25, 20);
    }

    &__descr {
        margin-top: 5px;
        color: #405267;
        @include adaptiveValue("font-size", 18, 12);
        line-height: math.div(26, 18);
    }
}


.news-card {
    &__img {
        display: block;
        width: 100%;

        img {
            width: 100%;
        }
    }

    &__info {
        padding: 20px 30px 30px;

        @media (max-width:$smallTablet) {
            padding: 20px;
        }
    }

    &__time {
        font-weight: 400;
        @include adaptiveValue("font-size", 12, 10);
        line-height: math.div(14, 12);
        color: #405267;
        display: block;
    }

    &__title {
        margin-top: 12px;
        font-weight: 700;
        @include adaptiveValue("font-size", 24, 16);
        line-height: math.div(26, 24);
        color: #141414;
        display: block;
    }

    &__descr {
        display: block;
        margin-top: 12px;
        font-weight: 400;
        @include adaptiveValue("font-size", 18, 13);
        line-height: math.div(22, 18);
        color: #405267;
    }

    &--white {
        background-color: var(--white-color);
    }

    &--water {
        background-color: #F2F6FB;
    }

    &--secondary {
        display: flex;

        .news-card {
            &__img {
                flex: 0 1 percent(408, 1079);

                img {
                    height: 100%;
                }
            }

            &__title {
                @include adaptiveValue("font-size", 36, 22);
            }

            &__descr {
                @include adaptiveValue("font-size", 20, 14);
            }

            &__info {
                flex: 0 1 percent(671, 1079);

                @media (max-width:$smallTablet) {
                    padding: 0;
                    padding-top: 15px;
                }
            }

            &__time {
                padding: 5px 6px;
                background-color: #fff;
                display: inline-block;
            }
        }

        @media (max-width:$smallTablet) {
            flex-direction: column;
        }
    }

    &--small {
        display: flex;

        .news-card {
            &__img {
                flex: 0 1 percent(199, 526);

                img {
                    height: 100%;
                }

                @media (max-width:$md1300) {
                    max-width: 200px;
                }
            }

            &__info {
                flex: 0 1 percent(327, 526);
                padding: 20px 30px 30px;

                @media (max-width:$tablet) {
                    padding: 20px;
                }

                @media (max-width:$smallTablet) {
                    padding: 0;
                    padding-left: 20px;
                }
            }

            &__time {
                padding: 5px 6px;
                background-color: #fff;
                display: inline-block;
            }

            &__title {
                margin-top: 6px;
                font-weight: 700;
                @include adaptiveValue("font-size", 22, 16);
                line-height: math.div(26, 22);
            }

            &__descr {
                margin-top: 9px;
            }
        }
    }

    &--very-small {
        display: flex;

        .news-card {
            &__img {
                flex: 0 1 percent(114, 347);

                img {
                    height: 100%;
                }

                @media (max-width:$md1300) {
                    max-width: 200px;
                }
            }

            &__info {
                flex: 0 1 percent(214, 347);
                padding: 0;
                padding-left: 19px;
            }

            &__time {
                margin-top: 10px;
                padding: 5px 6px;
                background-color: #F1F4F8;
                display: inline-block;
            }

            &__title {
                margin: 0;
                font-weight: 700;
                @include adaptiveValue("font-size", 18, 14);
                line-height: math.div(24, 18);
            }

            &__descr {
                margin-top: 10px;
                @include adaptiveValue("font-size", 14, 12);
                line-height: math.div(15, 14);
            }
        }
    }
}

.graph-modal__close{
    display: none;
}
.call-modal{
    width: 621px;
    padding: 40px;
    &__title{
        color: #102441;
    }
    &__form{
        margin-top: 30px;
        @media (max-width:$tablet){
            margin-top: 15px;
        }
    }
    @media (max-width:$tablet){
        padding: 25px;
        width: 90%;
    }
    @media (max-width:$smallTablet){
         width: 95%;
         padding: 20px; 
    }
}

.call-form {

    &__content {
    }


    &__form {
    }

    &__row {
    }

    &__row--inputs {
        display: flex;

        label {
            width: calc(50% - (15px/2));

            &:not(:first-child) {
                margin-left: 15px;
            }
        }

        .call-form__input {
            border-radius: 10px;
            background-color: #E3EAF2;
            @include adaptiveValue("font-size", 20, 14);
            line-height: math.div(28, 20);
            padding: 10px 20px;
            border: 1px solid transparent;
            color: #405267;
            width: 100%;
            &::placeholder {
                color: currentColor;
            }

            &:focus {
                border: 1px solid var(--blue-color);
            }

            @media (max-width:$tablet) {
                width: 100%;
            }
        }

        @media (max-width:$mobile) {
            flex-direction: column;

            label {
                width: 100%;

                &:not(:first-child) {
                    margin-left: 0;
                    margin-top: 15px;
                }
            }
        }
    }

    &__row--textarea {
        margin-top: 15px;
        display: block;
    }


    &__textarea {
        width: 100%;
        border-radius: 10px;
        background-color: #E3EAF2;
        @include adaptiveValue("font-size", 20, 14);
        line-height: math.div(28, 20);
        padding: 10px 20px;
        border: 1px solid transparent;
        color: #405267;
        height: 130px;

        &::placeholder {
            color: currentColor;
        }

        &:focus {
            border: 1px solid var(--blue-color);
        }

        @media (max-width:$smallTablet) {
            height: 100px;
        }
    }


    &__agreement {
        margin: 0 auto;
        max-width: 386px;
        display: block;
        text-align: center;
        margin-top: 22px;
        @include adaptiveValue("font-size", 16, 12);
        line-height: math.div(20, 16);
        color: #405267;
        @media (max-width:$tablet){
            margin-top: 15px;
            max-width: none;
        }
    }









    &__btn {
    display: block;
        margin: 0 auto;
        margin-top: 22px;
        padding: 16px 52px 19px;
        @media (max-width:$tablet){
            margin-top: 15px;
            width: 100%;
            max-width: 400px;
        }
    }

    .just-validate-error-label {
        margin-top: 5px;
        color: var(--red-color) !important;
        @include adaptiveValue("font-size", 18, 14);
        line-height: math.div(21, 18);
        font-weight: 500;
    }

    .just-validate-error-field {
        border: 1px solid var(--red-color);
    }
}

