// main
$fontFamily: "Roboto";
$fontSize: 20;
$minWidth: 320;
$maxWidth: 1920;
$contentWidth: 1600;
$containerOffset: 15;
$containerWidth: calc($contentWidth + ($containerOffset * 2));

// main colors
$bodyColor: #689ed4; // Цвет body по умолчаниюу
$mainColor: #fff; // Цвет шрифта по умолчанию

$bodyColorSecondary: #f1f4f8;
$mainColorSecondary: #405267;

:root {

    // additional colors
    --black-color: #000;
    --black-secondary-color: #102441;
    --white-color: #fff;
    --periw-gray-color: #C8D7EB;
    --blue-color: #2797FF;
    --gray-color: #7E8888;
}



// others vars
$transitionSpeed: 0.25s;
$transitionFunction: ease-out;


// break points
$desktop: $containerWidth+px;
$tablet: 1024px;
$smallTablet: 768px;
$mobile: 576px;
$smallMobile: 480px;
